.cardCenter {
  align-items: center;
  place-items: center;
  justify-self: center;
}
.cardContainer {
  align-items: center;
  place-items: center;
  justify-self: center;
  justify-content: center;
  row-gap: 3rem;
}

.cardIcons {
  padding-top: 1rem;
}
.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* place-content: center;
  align-items: center; */
  gap: 4rem;
}
