.cardCenter {
  align-items: center;
  place-items: center;
  justify-self: center;
}
.cardContainer {
  align-items: center;
  place-items: center;
  justify-self: center;
  justify-content: center;
  row-gap: 3rem;
}

.cardIcons {
  padding-top: 1rem;
}


.polygon {
  clip-path: polygon(
    99.75% 0%,
    100% 100%,
    16.5% 100%,
    0% 90.25%,
    0% 0%,
    73.5% 0%
  );
}




